/* css cho bảng table */
.tabledesign {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 20px Arial, sans-serif;
    width: 100%;
}

.tablehead {
    background-color: #DDEFEF;
    border: solid 1px #000000;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.tablebody {
    border: solid 1px #000000;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}